// $green: #3cb371;
// $green-glass: rgba(60, 179, 113, 0.7);
// $orange: #ffa500;

// $red-alpha: rgba(255, 0, 0, 0.1);
// $darker: #191919;
// $black: black;
//////////////// NOWE //////////////
///
$white: #e0e0ff;
// $white: #2c2c2c;
$white_gray: #c6c6e6;
$white_nav_logged: rgb(160, 172, 228);
// $main_color: #09203f;
// $main_color: #2b4470;
// $main_color: #1882b8;
$main_color: #0c4969;
$header: linear-gradient(180deg, rgba(36, 162, 236, 0.781), rgba(6, 77, 113, 0.5), rgba(1, 17, 27, 0.867));

// $main_colors_lighter: #11304d;
// $main_color_hover: #1e4169;
// $main_color_blur: rgba(9, 32, 63, 0.8);

$main_colors_lighter: #3359a3;
// $main_color_hover: #3a5b8f;
$main_color_hover: #2b4369;
// $main_color_blur: rgba(41, 66, 112, 0.8);
$main_color_blur: rgba(24, 131, 184, 0.919);
// $main_color_blur: rgba(12, 76, 105, 0.919);

// $blue: #009fc2;
$blue: #06cccc;
$dark: #232323;
$red: #ff6666; //rgb(255, 0, 0)
// $red: #ff0000; //rgb(255, 0, 0)
$red_field: rgba(255, 0, 0, 0.15);
// $turkus: #008080;
