@use '../../../utilities/mixins';

@media (min-width: 330px) {
	// .header {
	// 	&-heading {
	// 		font-size: 3.7rem;
	// 	}

	// 	&-text {
	// 		font-size: 1.8rem;
	// 	}
	// }
}

@media (min-width: 415px) {
	.header {
		&-heading {
			font-size: 8.7rem;
		}

		&-text {
			font-size: 4rem;
		}
	}
}

@media (min-width: 530px) {
	// .header {
	// 	&-heading {
	// 		font-size: 6rem;
	// 		margin: 0.5em;
	// 	}

	// 	&-text {
	// 		font-size: 2rem;
	// 	}
	// }

	.creators {
		&__box {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			&-text {
				width: 50%;
			}

			&-img {
				width: 45%;

				&--right {
					order: 1;
				}
			}
		}

		&__img {
			margin-bottom: 0;
			max-height: 400px;
		}
	}
}

// @media (min-width: 680px) {
// 	.header {
// 		&-heading {
// 			font-size: 7.8rem;
// 		}
// 	}
// }

@media (min-width: 768px) {
	.creators {
		&__title {
			font-size: 4.8rem;
		}
		&__text {
			font-size: 3.8rem;
		}
	}
}

@media (min-width: 860px) {
	.header {
		&-heading {
			font-size: 12.5rem;
		}

		// &-text {
		// 	font-size: 5.7rem;
		// }
	}
}

// @media (min-width: 1020px) {
// 	.header {
// 		&-heading {
// 			font-size: 12rem;
// 			margin: 0.1em;
// 		}

// 		&-text {
// 			font-size: 3rem;
// 		}
// 	}
// }

@media (min-width: 1125px) {
	.header {
		&-heading {
			font-size: 14rem;
		}
	}
}
